---
layout: default
title: TechTogether
---

<div class="background-above-the-fold py-md-1 mt-5">
    <div class="container-fluid">
        <div class="col-8 offset-2 col-md-4 offset-md-4 pt-5">
            <div id="ttm-promo">
                <img class="ttm-promo" src="imgs/ttm-promo.svg" alt="TechTogether Miami"/> 
            </div>
            <div id="ttm-date-time-location">
                <img class="ttm-date-time-location" src="imgs/ttm-date-time-location.svg" alt="Event is being hosted out of Miami, FL from February 11, 2022 to February 13, 2022"/> 
            </div>
        </div>
    </div>
    <div class="row pe-4 pb-5 pt-2">
        <div class="col-8 offset-2 col-md-2 offset-md-3 mb-2">
            <a href="https://techtogether-miami.devpost.com/"
            target="_blank">
                <button type="button" class="btn btn-above-the-fold btn-red">
                    Submit Project
                </button>
            </a>
        </div>

        <div class="col-8 offset-2 col-md-2 offset-md-0 mb-2">
            <a href="https://techtogether-miami.devpost.com/#prizes"
            target="_blank">
                <button type="button" class="btn btn-above-the-fold btn-yellow">
                    View Challenges
                </button>
            </a>
        </div>
        
        <div class="col-8 offset-2 col-md-2 offset-md-0 mb-2">
            <a href="https://drive.google.com/drive/folders/1_VGrh98tw6Pv61KV0Y8ruvs4Raa-GY9b?usp=sharing"
            target="_blank">
                <button type="button" class="btn btn-above-the-fold btn-cyan">
                    Event Recordings
                </button>
            </a>
        </div>
    </div>
</div>

<div class="bg-miami-gradient">
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 id="About">ABOUT US</h1>
                    <p>TechTogether Miami is dedicated to empowering underrepresented communities in the STEM field by showcasing the talents of these indiviudals, creating a diverse and all-inspiring community.</h6>
                    <hr>
                    <p>TechTogether gives all members, from beginner to expert, oppurtunties to network amongst peers and employers, gain valuable skills, and take part in bridging the gender-gap in the STEM community.</h6>  
                </div>
                <div class="col hide-mobile">
                    <img class="col" src="imgs/hackers.png" width="85%" alt="Two hackers celebrating their accomplishments">
                </div>
            </div>
        </div>
    </section> 

    <!-- Learn New Skills Section -->
    <section class="py-5">
        {% include newskills.html %}
    </section> 

    <!-- Sponsor Page -->
    <section class="pb-5">
        {% include sponsors.html %}
    </section>

    <!-- Schedule Section -->
    <section class="pb-5">
        <h1 id="Schedule" style="padding-bottom: 0px">SCHEDULE</h1> 
        <p class="text-center">(All times are in EST)</p>
        <div class="container">
            {% include schedule.html %}
        </div>
    </section>

    <!-- FAQs -->
    <section class="pb-5">
        <h1 id="FAQ">FAQ</h1> 
        <div class="container">
            {% include faq.html %}
        </div>
    </section>

    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</div>